# Arquivos e pastas comuns do Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Ambientes virtuais
venv/
.env/

# IDEs
.vscode/
.idea/
pycharm-2025.1/

# Arquivos do sistema
.DS_Store
Thumbs.db

/projetos/subsub*
